<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-BookMyEvent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@300;400;700&display=swap&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<header>
        <p class="logo">Admin-BookMyEvent</p>
        <a href="">Home</a>

</header>
<body>

    <div class="padding-btw-header-body"></div>

    <div class="body-style">

    
        <h1 class="heading">Current events</h1>

        <div class="event-cards">
            <div class="card">
                <img class="card-img" src="../static/assests/placeholder-poster.png" alt="">
                <div class="card-text">
                    <a href="./event-page.html">Let Us Pledge<span class="material-icons forward_icon">arrow_forward_ios</span></a>
                    <p>To take pledges as a responsible student and citizen</p>
                </div>
                <button class="secondary-btn disable-btn">Close Event</button>
            </div>

            <div class="card">
                <img class="card-img" src="../static/assests/placeholder-poster.png" alt="">
                <div class="card-text">
                    <a href="./event-page.html">Let Us Pledge<span class="material-icons forward_icon">arrow_forward_ios</span></a>
                    <p>To take pledges as a responsible student and citizen</p>
                </div>
                <button class="secondary-btn disable-btn">Close Event</button>
            </div>

            <div class="card">
                <img class="card-img" src="../static/assests/placeholder-poster.png" alt="">
                <div class="card-text">
                    <a href="./event-page.html">Let Us Pledge<span class="material-icons forward_icon">arrow_forward_ios</span></a>
                    <p>To take pledges as a responsible student and citizen</p>
                </div>
                <button class="secondary-btn disable-btn">Close Event</button>

            </div>  
        </div>
        
        <a href="./admin-create-event.html" class="primary-btn" style=" margin:3rem auto 3.5rem; padding: 1.5rem 4.5rem; text-decoration: none;">Create New Event</a>
    
    </div>

    <script src="../static/scripts/admin.js"></script>
</body>
<footer>
    &copy Nusaiba Afsheen
</footer>
</html>