<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyEvent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@300;400;700&display=swap&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<header>
        <p class="logo">BookMyEvent</p>
        <a href="">Events</a>
        <a href="">About</a>
        
</header>
<body>

    <div class="padding-btw-header-body"></div>

    <h1 class="heading">Choose an Event</h1>

    <div class="event-cards">
        <div class="card">
            <img class="card-img" src="../static/assests/placeholder-poster.png" alt="">
            <div class="card-text">
                <a href="">Let Us Pledge</a> <span class="material-symbols-outlined">arrow_forward_ios</span>
                <p>To take pledges as a responsible student and citizen</p>
            </div>
            <!-- <button class="primary-btn">Register</button> -->
            

        </div>

        <div class="card">
            <img class="card-img" src="../static/assests/placeholder-poster.png" alt="">
            <div class="card-text">
                <a href="">Let Us Pledge</a>
                <p>To take pledges as a responsible student and citizen</p>
            </div>
            <!-- <button class="primary-btn">Register</button> -->
        </div>

        <div class="card">
            <img class="card-img" src="../static/assests/placeholder-poster.png" alt="">
            <div class="card-text">
                <a href="">Let Us Pledge</a>
                <p>To take pledges as a responsible student and citizen</p>
            </div>
            <!-- <button class="primary-btn">Register</button> -->

        </div>  
    </div>  
</body>
<footer>
    © Nusaiba Afsheen
</footer>
</html>