* {
  background-color: #212121;
  color: #a0eff1;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  background-color: #323232;
  color: #0D7377;
  position: fixed;
  width: 100%;
  margin-inline: 0;
  padding: 0.5rem;
}
header a {
  display: inline;
  float: right;
  background-color: #323232;
  text-decoration: none;
  margin: 0.25rem;
  padding-right: 1rem;
  font-size: min(5vw, 1.5rem);
}
header .logo {
  float: left;
  font-family: "Righteous", cursive;
  font-size: min(7vw, 2rem);
  background-color: #323232;
}

footer {
  background-color: #14FFEC;
  color: #212121;
  margin-top: 3rem;
  padding: 3rem;
  text-align: center;
}

.body-style {
  margin-inline: max(0.5rem, 6vw);
}

.padding-btw-header-body {
  padding-top: 4rem;
}

h1 {
  color: #14FFEC;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: max(7vw, 3rem);
  margin-bottom: 1rem;
}

h2 {
  color: #14FFEC;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: max(5vw, 2rem);
  margin-bottom: 1rem;
}

.primary-btn {
  background-color: #14FFEC;
  color: #212121;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 3.5rem;
  border-style: solid;
  border-color: #14FFEC;
  border-radius: 5px;
}
.primary-btn:hover {
  background-color: #323232;
  color: #14FFEC;
}

.card {
  background-color: #323232;
  border-style: solid;
  border-radius: 25px;
  border-color: #0D7377;
  padding: 0.25rem;
  width: 250px;
  text-align: left;
  margin: 2rem 1rem;
  margin-inline: auto;
}
.card .card-img {
  width: 250px;
  margin-inline: auto;
  border-radius: 20px 20px 0px 0px;
}
.card .card-text {
  background-color: #323232;
  margin: 0.75rem 0rem;
  padding: 0rem 0.25rem;
}
.card .card-text a {
  background-color: #323232;
  color: #14FFEC;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  text-decoration: none;
}
.card .card-text p {
  background-color: #323232;
}
.card .primary-btn {
  margin: 0rem 2.5rem 1rem;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
}

.forward_icon {
  background-color: #323232;
}

.evt-page-img {
  width: min(90%, 500px);
  display: block;
  margin-inline: auto;
  padding: 1rem 0 2rem;
}

.evt-specs {
  list-style: none;
  padding: 1rem 0 2rem;
}

.register-form {
  display: block;
  text-align: center;
  padding-top: 2rem;
}
.register-form form {
  display: inline-block;
  margin-inline: auto;
  text-align: left;
  width: min(90%, 400px);
}
.register-form h4 {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0;
  color: #a0eff1;
}
.register-form ul {
  list-style: none;
}

.detail-container {
  padding: 0.75rem 0;
}
.detail-container input, .detail-container select {
  display: block;
  width: 100%;
  padding: 0.25rem;
  background-color: #323232;
}
.detail-container input:hover, .detail-container select:hover {
  background-color: #0D7377;
}

.detail-container-radio {
  padding: 0.75rem 0;
}

.invoice-container {
  color: #a0eff1;
}/*# sourceMappingURL=styles.css.map */